extends layout

block content
  h1= title
  form(action="/", method="post", class="pure-form")
    each row in rows
      fieldset
        legend.namespace #{row.namespace}
        each event in row.events
          h4 #{event}
          each medium in Object.keys(user.contact)
            label.pure-checkbox
              input(type="checkbox", name="#{row.namespace}[#{event}][]", value="#{medium}", checked=user.subscribed(row.namespace, event, medium))
              |#{medium}

    input(type="submit", value="Update", class="pure-button pure-button-primary")
