extends layout

block content
  h1= title
  form(action="/", method="post")
    each row in rows
      h2 #{row.namespace}
      each event in row.events
        div
          h4 #{event}
          each medium in Object.keys(user.contact)
            label
              input(type="checkbox", name="#{row.namespace}[#{event}][]", value="#{medium}", checked=user.subscribed(row.namespace, event, medium))
              | #{medium}

    input(type="submit", value="Update")
